
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <link href="~\lib\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Mail Gönderildi.</h1>

    </div>
</body>
</html>
